<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/dataTables.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
    <link rel="icon" type="image/png" href="favicon.png" />
    @RenderSection("css",required:false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Smart Library", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Giới thiệu", "About", "Home")</li>
                    <li>@Html.ActionLink("Liên hệ", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Sách của bạn", "Yourcart", "Home")</li>
                    <li>@Html.ActionLink("Tìm kiếm", "SearchBook", "Home")</li>
                    <li><a>|</a></li>
                    <li style="padding-left:20px;padding-top:10px;text-align:right;">
                        <form method="post" action="~/Home/doSearch" class="form-inline my-2 my-lg-0"> <input name="Tensach" class="form-control mr-sm-4" type="text" placeholder="Tên sách"> <button class="btn btn-secondary my-2 my-sm-0" type="submit">Tìm kiếm</button> </form>
                    </li>
                </ul>

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Smart Library Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/dataTables.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
