@model IEnumerable<SmartLibrary.Models.Hocsinh>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Lop.TenLop)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenHS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dienthoai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Diachi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phuhuynh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Anh)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Lop.TenLop)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenHS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dienthoai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Diachi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phuhuynh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Anh)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaHS }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaHS }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaHS })
        </td>
    </tr>
}

</table>
