@model SmartLibrary.Models.Lop

@{
    ViewBag.Title = "Details";
}
@section title{
    
    }
<div>
    <h4>Lop</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tenlop)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tenlop)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GVCN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GVCN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ghichu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ghichu)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
