@model IEnumerable<SmartLibrary.Models.Lop>

@{
    ViewBag.Title = "Index";
}

@section title{
    <span>Danh sách lớp</span>
}

<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table class="table table-hover table-condensed" id="lop">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tenlop)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GVCN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ghichu)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Tenlop)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GVCN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ghichu)
                </td>
                <td>
                    @Html.ActionLink("Sửa", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Chi tiết", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Xóa", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts{
    <script>
        $(document).ready(function () {
            $('#lop').DataTable();
        });
    </script>
}
