@model IEnumerable<SmartLibrary.Models.Sach>

@{
    ViewBag.Title = "Tìm sách";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@section headingText{
    <span>KẾT QUẢ TÌM KIẾM</span>
}
<div style="width:60%;float:left;"><h4>Kết quả tìm kiếm</h4></div>
<div style="width:40%;float:left;text-align:right;"><a href="~/Home/SearchBook">Hiển thị tất cả</a></div>

<hr/>

<table class="table table-hover table-bordered table-condensed" id="searchBook">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenSach)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tacgia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NamXB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tomtat)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Anh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoaiSach.TenLoai)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var itm = "";
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TenSach)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tacgia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NamXB)
                </td>
                <td>
                    @Html.Raw(System.Web.HttpUtility.HtmlDecode(item.Tomtat))
                    @*@Html.Raw(System.Web.HttpUtility.HtmlDecode(item.Tomtat.Substring(0, 200)))*@
                </td>
                <td>
                    <img src="@item.Anh" style="max-width:100px;max-height:110px;" />
                    @*@Html.DisplayFor(modelItem => item.Img)*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoaiSach.TenLoai)
                </td>
                <td>
                    @Html.ActionLink("Bỏ vào giỏ", "AddToCart", "Home",
                     new { @Id = item.Id + "-" + item.TenSach }, new { @class = "btn submit-btn" })
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#searchBook').DataTable(
                {
                    "lengthMenu": [[ 10, 25, 50, -1], [10, 25, 50, "All"]]
                });
        });
    </script>
}
