@model IEnumerable<SmartLibrary.Models.LoaiSach>

@{
    ViewBag.Title = "Index";
}

<h2>DANH MỤC LOẠI SÁCH</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table class="row-border hover" id="categories">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenLoai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anh)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TenLoai)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mota)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Anh)
                </td>
                <td>
                    @Html.ActionLink("Sửa", "Edit", new { id = item.MaLS }) |
                    @Html.ActionLink("Chi tiết", "Details", new { id = item.MaLS }) |
                    @Html.ActionLink("Xóa", "Delete", new { id = item.MaLS })
                </td>
            </tr>
        }
    </tbody>

</table>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#categories').DataTable();
        });
    </script>
}