@model SmartLibrary.Models.Sach

@{
    ViewBag.Title = "Delete";
}

@section title{<span>Xóa sách</span>}

<h3>Bạn chắc chắn xóa cuốn sách này?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenSach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSach)
        </dd>

      

        <dt>
            @Html.DisplayNameFor(model => model.Anh)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.Anh)*@
            <img src="@Model.Anh" style="max-width:120px;max-height:150px;" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NhaXB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NhaXB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NamXB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NamXB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tacgia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tacgia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoaiSach.TenLoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiSach.TenLoai)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
