@model SmartLibrary.Models.Sach

@{
    ViewBag.Title = "Details";
}
@section title{
    <span>Chi tiết sách</span>
    }
<div>
 
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenSach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSach)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tomtat)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.Tomtat)*@
            @Html.Raw(HttpUtility.HtmlDecode(Model.Tomtat))
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Anh)
        </dt>

        <dd>
            <img src="@Model.Anh" style="max-width:120px;max-height:150px;" />
            @*@Html.DisplayFor(model => model.Anh)*@
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NhaXB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NhaXB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NamXB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NamXB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tacgia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tacgia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoaiSach.TenLoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiSach.TenLoai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
